<nav>
    <ul>
      @if (!auth.isLoggedIn) {
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/info">Información</a></li>
        <li><a routerLink="/login">Iniciar Sesión</a></li>
      } @else {
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/info">Información</a></li>
        <li><a routerLink="/billetera">Billetera</a></li>
        <li><a routerLink="/notificaciones">Notificaciones</a></li>
        <li><button (click)="logout()">Cerrar sesión</button></li>
      }
    </ul>
  </nav>
  