<nav class="navbar">
    <p class="logo">CriptoTracker</p>
    <a routerLink="/">Inicio</a>
    <a routerLink="/informacion">Información</a>
  
    @if (!auth.estaLogueado()) {
        <div class="divSesion">
            <a routerLink="/login">Iniciar Sesión</a>
            <a routerLink="/registro">Registrarse</a>
        </div>
    }
  
    @if (auth.estaLogueado()) {
      <a routerLink="/billetera">Billetera</a>
      <a routerLink="/notificaciones">Notificaciones</a>
      <a (click)="logout()" style="cursor:pointer">Cerrar sesión</a>
    }
  </nav>
  <app-crypto-ticker></app-crypto-ticker>
  