:root {
    --bg-color: #121212;
    --bg-color2: #2c3e5094;
    --card-color: #1E1E1E;
    --accent-color: #ec9005c2; /* naranja moderno */
    --text-color: #f5f5f5;
    --border-color: #2c2c2c;
  }
  
  body {
    margin: auto;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1200px;
  }
  

.bg{
    background-color: var(--bg-color2);
}